<div class="specialist">
  <div class="heading">
    <h2>Chose your specialist</h2>
    <p>Select from our team of professionals</p>
  </div>

  @for (professional of professionals; track $index) {
    <div [ngClass]="{'active': selected === $index}" class="professional-container" (click)="selectSpecialis($index)">
    <div class="professional">
      <div class="image">
      <img src="assets/images/img1.jpg" alt="img" />
    </div>
    <div class="details">
      <div class="name">
        <h3>Sarah Jonson</h3>
        <p>Hair Styling & Colorist</p>
      </div>

      <div class="rating">
        <i class="pi pi-star-fill"></i>
        <p>4.9</p>
        <label class="availability">
          <span></span>
          <span>Available</span>
        </label>
      </div>
    </div>
    </div>

    <div class="arrow">
      <i class="pi pi-angle-right"></i>
    </div>
  </div>
  }
</div>
