.specialist {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-bottom: 10px;

  .heading {
    line-height: 1.1rem;

    h2 {
      color: rgba(31, 41, 55, 1);
      font-size: 1.5rem;
      font-weight: 700;
    }

    p {
      color: rgba(107, 114, 128, 1);
      font-size: 1.1rem;
    }
  }

  .professional-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 15px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    padding-right: 15px;
    padding-left: 15px;
    border: 2px solid transparent;
    margin-bottom: 10px;

    .professional {
      display: flex;
      align-items: center;

      .image {
        width: 64px;
        height: 64px;
        border-radius: 50%;
        margin-right: 20px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 50%;
        }
      }

      .details {
        .name {
          line-height: 0.25rem;
          h3 {
            color: #1F2937;
            font-size: 1.125rem;
          }

          p {
            color: #6b7280;
            font-size: 0.85rem;
          }
        }

        .rating {
          display: flex;
          align-items: center;
          gap: 5px;
          margin-top: -10px;

          p{
             font-weight: 500;
          }

          i{
            color: #EAB308;
            margin-top: -5px;
          }

          .availability {
            display: flex;
            align-items: center;
            gap: 10px;
            background-color: #DCFCE7;
            padding: 8px;
            border-radius: 20px;
            height: 20px;
            margin-left: 10px;

            span:first-child {
              width: 7px;
              height: 7px;
              border-radius: 50%;
              background-color: #15803d;
            }

            span:last-child {
              color: #15803d;
              font-weight: 500;
              font-size: 0.75rem;
            }
          }
        }
      }
    }

    .arrow {
      color: #9ca3af;

      i {
        font-size: 1.5rem;
      }
    }

    &:hover {
      border: 2px solid #1976d2;
      //  outline-offset: 1px #1976d2;
      cursor: pointer;
    }
  }
}
