.login-container {
  background-image: linear-gradient(to bottom right, #eef2ff, #faf5ff, #fdf2f8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  .login-card {
    padding: 1rem;
    width: 100%;
    max-width: 28rem;

    .main-content {
      background-color: white;
      padding: 1.5rem;
      border-radius: 1rem;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      display: flex;
      flex-direction: column;
      align-items: center;

      .heading {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;

        .logo {
            width: 4rem;
            height: 4rem;
            border-radius: 1rem;
            box-shadow: 0 10px 15px -3px rgb(165 180 252 / 0.5), 0 4px 6px -4px rgb(165 180 252 / 0.5);
            background-image: linear-gradient(to bottom right, #6366f1, #9333ea);
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 1rem;

            i{
                font-size: 1.5rem;
            }
        }

        h3 {
          font-weight: 700;
          font-size: 1.875rem;
          line-height: 2.25rem;
        }

        p {
          font-size: 0.875rem;
          line-height: 1.25rem;
          color: #6b7280;
        }
      }

      .form {
        display: flex;
        flex-direction: column;
        row-gap: 1.2rem;
        margin-top: 1.5rem;
        width: 100%;

        .form-field {
    
          p-iconfield {
            padding-top: 0.3rem;
            width: 100%;
          }

          p-inputicon{
            padding-top: 4px;
          }

          input {
            width: 100%;
            border-radius: 0.8rem;
            height: 3rem;
          }
        }

        .options{
            display: flex;
            align-items: center;
            justify-content: space-between;
             color: #6b7280;

            a{
                font-size: 0.875rem;
                font-weight: 500;
                line-height: 1.25rem;
                color: #4f46e5;
                text-decoration: none;
            }
        }

         button{
        height: 3rem;
        border-radius: 0.8rem;
        background-color: #4f46e5;
        font-weight: 600;
        font-size: 1rem;
        line-height: 1.5rem;
        border: none;
        cursor: pointer;
        box-shadow: 0 10px 15px -3px rgb(165 180 252 / 0.5), 0 4px 6px -4px rgb(165 180 252 / 0.5);

        &:hover{
            background-color: #4338ca;  
        }
      }
      }  

        .continue-with {
        display: flex;
        margin-top: 1.2rem;
        color: #6b7280;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        hr {
          flex: 1;
          border: none;
          border-top: 1px solid #e2e8f0;
          margin: 0 0.5rem;
        }
      }

       .social-buttons{
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 1.2rem;
        gap: 0.75rem;

        button{
            background-color: transparent;
            color: #4b5563;
            border: 1px solid #e5e7eb;;
            border-radius: 0.8rem;
            padding: 1rem 0rem;
            flex: 1;
        }
      }

      .signup{
        margin-top: 1.5rem;
        font-size: 0.875rem;
        line-height: 1.25rem;
        color: #6b7280;

        a{
            font-weight: 500;
            color: #4f46e5;
            text-decoration: none;
        }
      }
    }


    .recaptcha-info {
      background-color: transparent;
      margin-top: 1.5rem;
      color: #6b7280;
        font-size: 0.75rem;

        a {
            color: #4f46e5;
            text-decoration: none;
        }
    }
  }
}
