.confirmation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;

  h3,
  p {
    margin: 0;
  }

  .heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .confirmation-icon {
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(220, 252, 231, 1);

      i {
        color: rgba(34, 197, 94, 1);
        font-size: 1.5rem;
        font-weight: 700;
      }
    }

    h2 {
      color: rgba(31, 41, 55, 1);
      font-size: 1.5rem;
      font-weight: 700;
    }

    p {
      color: rgba(107, 114, 128, 1);
      font-size: 1.1rem;
      margin-top: -0.25rem;
    }
  }

  .details {
    display: flex;
    flex-direction: column;
    border: 2px solid rgba(229, 231, 235, 1);
    border-radius: 0.5rem;
    width: 100%;
    padding: 2rem;
    margin-top: 1rem;
    gap: 1rem;

    hr{
      border: none;
      border-top: 1px solid rgba(229, 231, 235, 1);
      margin: 0;
    }

    .procedures {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      .procedure-item {
        display: flex;
        align-items: center;
        gap: 1rem;

        .procedure-icon{
            display: flex;
        align-items: center;
        justify-content: center;
        width: 3rem;
        height: 3rem;
        background-color: rgba(243, 244, 246, 1);
        border-radius: 50%;
        i {
          color: rgba(59, 130, 246, 1);
          font-size: 1.25rem;
        }
        }
      }

      .procedure-info {
        display: flex;
        flex-direction: column;

       p{
        display: flex;
        align-items: center;
        gap: 0.5rem;
        span{
            display: inline-block;
          width: 0.25rem;
            height: 0.25rem;
            background-color: rgb(43, 46, 53);
            border-radius: 50%;
        }
       }
      }
    }

    .specialist {
      display: flex;
      align-items: center;
      gap: 1rem;

      .image {
        display: flex;
        align-content: center;
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        margin-bottom: 10px;

        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
          object-fit: cover;
        }
      }

      .name {
        display: flex;
        flex-direction: column;
        align-content: center;

        p {
          color: rgba(75, 85, 99, 1);
          font-size: 1rem;
        }
      }
    }

    .date {
      display: flex;
      align-items: center;
      gap: 1rem;

      .date-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 3rem;
        height: 3rem;
        background-color: rgba(243, 244, 246, 1);
        border-radius: 50%;
        i {
          color: rgba(59, 130, 246, 1);
          font-size: 1.25rem;
        }
      }

      .date-info {
      }
    }

    .time {
      display: flex;
      align-items: center;
      gap: 1rem;

      .time-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 3rem;
        height: 3rem;
        background-color: rgba(243, 244, 246, 1);
        border-radius: 50%;
        i {
          color: rgba(59, 130, 246, 1);
          font-size: 1.25rem;
        }
      }

      .time-info {
      }
    }

    .location {
      display: flex;
      align-items: center;
      gap: 1rem;

      .location-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 3rem;
        height: 3rem;
        background-color: rgba(243, 244, 246, 1);
        border-radius: 50%;
        i {
          color: rgba(59, 130, 246, 1);
          font-size: 1.25rem;
        }
      }

      .location-info {
      }
    }
  }
}
