$color-white: #ffffff;      
$color-success-bg: #dcfce7;      // rgba(220, 252, 231, 1)
$color-success: #22c55e;         // rgba(34, 197, 94, 1)

$color-text-dark: #1f2937;       // rgba(31, 41, 55, 1)
$color-text-muted: #6b7280;      // rgba(107, 114, 128, 1)

$color-border: #e5e7eb;          // rgba(229, 231, 235, 1)
$color-gray-bg: #f3f4f6;         // rgba(243, 244, 246, 1)

$color-primary: #4f46e5 ;         // rgba(59, 130, 246, 1)

$color-dot: #2b2e35;             // rgb(43, 46, 53)
$color-bg-light-green: #f0fdf4;  // rgba(240, 253, 244, 1)


.confirmation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;

  h3,
  p {
    margin: 0;
  }

  .heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .confirmation-icon {
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $color-success-bg;

      i {
        color: $color-success;
        font-size: 1.5rem;
        font-weight: 700;
      }
    }

    h2 {
      color: $color-text-dark;
      font-size: 1.5rem;
      font-weight: 700;
    }

    p {
      color: $color-text-muted;
      font-size: 1.1rem;
      margin-top: -0.25rem;
    }
  }

  .details {
    display: flex;
    flex-direction: column;
    border: 2px solid $color-border;
    border-radius: 0.5rem;
    width: 100%;
    padding: 2rem;
    margin-top: 1rem;
    gap: 1rem;

    hr {
      border: none;
      border-top: 1px solid $color-border;
      margin: 0;
    }

    .procedures {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      .procedure-item {
        display: flex;
        align-items: center;
        gap: 1rem;

        .procedure-icon {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 3rem;
          height: 3rem;
          background-color: $color-gray-bg;
          border-radius: 50%;

          i {
            color: $color-primary;
            font-size: 1.25rem;
          }
        }
      }

      .procedure-info {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;

        h3{
          color: $color-text-dark;
            font-size: 1.125rem;
        }

        p {
          display: flex;
          align-items: center;
          gap: 0.5rem;
          color: $color-text-muted;
          font-size: 0.85rem;

          span {
            display: inline-block;
            width: 0.25rem;
            height: 0.25rem;
            background-color: $color-text-muted;
            border-radius: 50%;
          }
        }
      }
    }

    .specialist {
      display: flex;
      align-items: center;
      gap: 1rem;

      .image {
        display: flex;
        align-content: center;
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        margin-bottom: 10px;

        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
          object-fit: cover;
        }
      }

      .name {
        display: flex;
        flex-direction: column;
        align-content: center;
        gap: 0.25rem;

        h3{
          color: $color-text-dark;
          font-size: 1.125rem;
        }

        p {
          color: $color-text-muted;
          font-size: 0.85rem;
        }
      }
    }

    .date,
    .time,
    .location {
      display: flex;
      align-items: center;
      gap: 1rem;

      .date-icon,
      .time-icon,
      .location-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 3rem;
        height: 3rem;
        background-color: $color-gray-bg;
        border-radius: 50%;

        i {
          color: $color-primary;
          font-size: 1.25rem;
        }
      }

      .date-info,
      .time-info,
      .location-info {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;

        h3{
          color: $color-text-dark;
          font-size: 1.125rem;
        }

        p {
          color: $color-text-muted;
          font-size: 0.85rem;
        }
      }
    }
  }

  .confirmation-sent{
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
    background-color: #f0fdf4;
    border-radius: 0.45rem;
    padding: 1rem;

    .email-icon{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 6rem;
        height: 3rem;
        background-color: #dcfce7;
        border-radius: 50%;

        i {
          color: #16a34a;
          font-size: 1.25rem;
        }
    }

    .email-info{
        display: flex;
        flex-direction: column;
        gap: 0.25rem;

      h3{
          color: $color-text-dark;
          font-size: 1.125rem;
        }

        p {
          color: $color-text-muted;
          font-size: 0.85rem;
        }
    }
  }

  .actions{
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    width: 100%;
    margin-top: 2rem;

     button{
      width: 100%;
      padding: 0.75rem;
      font-size: 1rem;
      border: none;
      border-radius: 0.5rem;
      cursor: pointer;
      background-color: $color-primary;
      color: $color-white;
      font-weight: 600;

      &:hover{
        background-color: darken($color-primary, 10%);
      }
    }

    button:last-child{
      background-color: transparent;
      color: $color-text-dark;
      border: $color-border 2px solid;

      &:hover{
        background-color: $color-gray-bg;
      }
    }
  }
}
