<ng-container>
  <div class="appointment">
  <div class="header">
    @if (activeStep > 1) {
      <button class="back-button" pButton (click)="back()" icon="pi pi-arrow-left"></button>
    }
    <h3>Book Appointment</h3>
  </div>

  <p-stepper [(value)]="activeStep" class="stepper">
    <p-step-list class="step-list">
      <p-step [value]="1">
        <ng-template #content let-activateCallback="activateCallback" let-value="value">
          <span class="step" [ngClass]="{ 'custom-step': activeStep === 1 }"></span>
        </ng-template>
      </p-step>

      <p-step [value]="2">
        <ng-template #content let-activateCallback="activateCallback" let-value="value">
          <span class="step" [ngClass]="{ 'custom-step': activeStep === 2 }"></span>
        </ng-template>
      </p-step>

      <p-step [value]="3">
        <ng-template #content let-activateCallback="activateCallback" let-value="value">
          <span class="step" [ngClass]="{ 'custom-step': activeStep === 3 }"></span>
        </ng-template>
      </p-step>

      <p-step [value]="4">
        <ng-template #content let-activateCallback="activateCallback" let-value="value">
          <span class="step" [ngClass]="{ 'custom-step': activeStep === 4 }"></span>
        </ng-template>
      </p-step>

      <p-step [value]="5">
        <ng-template #content let-activateCallback="activateCallback" let-value="value">
          <span class="step" [ngClass]="{ 'custom-step': activeStep === 5 }"></span>
        </ng-template>
      </p-step>

       <p-step [value]="6">
        <ng-template #content let-activateCallback="activateCallback" let-value="value">
          <span class="step" [ngClass]="{ 'custom-step': activeStep === 6 }"></span>
        </ng-template>
      </p-step>
    </p-step-list>

    <div class="steps-details">
      <p>Step {{ activeStep }} of 6</p>
      <p>Select Specialist</p>
    </div>

    <p-step-panels class="step-panels">
      <p-step-panel [value]="1" class="step-panel">
        <ng-template #content let-activateCallback="activateCallback">
          <app-specialist-selection (selectedSpecialist)="onSpecialistSelect($event)"></app-specialist-selection>
        </ng-template>
      </p-step-panel>

      <p-step-panel [value]="2">
        <ng-template #content let-activateCallback="activateCallback">
          <app-procedure-selection (selectedProceduresEvent)="onProcedureSelect($event)"></app-procedure-selection>
        </ng-template>
      </p-step-panel>

      <p-step-panel [value]="3">
        <ng-template #content let-activateCallback="activateCallback">
          <app-date-time-selection (selectDateEvent)="onDateSelect($event)"></app-date-time-selection>
        </ng-template>
      </p-step-panel>

       <p-step-panel [value]="4">
        <ng-template #content let-activateCallback="activateCallback">
          <app-time-selection></app-time-selection>
        </ng-template>
      </p-step-panel>

      <p-step-panel [value]="5">
        <ng-template #content let-activateCallback="activateCallback">
          <app-client-information></app-client-information>
        </ng-template>
      </p-step-panel>

      <p-step-panel [value]="6">
        <ng-template #content let-activateCallback="activateCallback">
          <app-confirmation></app-confirmation>
        </ng-template>
      </p-step-panel>
    </p-step-panels>
  </p-stepper>
  
  <div class="continue">
    <button pButton [disabled]="disabled" (click)="continue()">Continue</button>
  </div>
</div>
</ng-container>
