.appointment {
  align-items: center;
  max-width: 900px;
  margin: 0 auto;
  box-sizing: border-box;
  border: 2px solid rgb(235, 225, 225);
  border-radius: 10px;
  background-color: rgba(220, 216, 216, 0.1);

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1d4ed8;
    padding: 1.5rem;
     border-radius: 10px 10px 0px 0px;

    h3 {
      color: white;
      font-size: 1.8rem;
      margin: 1rem 0;
      text-align: center;
    }
  }

  .stepper {
    .step-list {
      background-color: #1d4ed8;
      padding: 0;
      padding-left: 1.5rem;
      padding-right: 1.5rem;

      .step {
        width: 60px;
        height: 7px;
        border-radius: 20px;
        background-color: rgb(96 165 250 / 0.3);
        display: inline-block;
        line-height: 40px;
        text-align: center;
        transition: all 0.3s ease;

        &.custom-step {
          background-color: #1976d2;
          color: white;
        }
      }
    }
  }

   .continue {
      padding: 1rem;
      border-top: 1px solid rgb(220, 213, 213);
    }
}

.steps-details {
  background-color: #1d4ed8;
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 1rem;
  padding: 1.5rem;

  p {
    margin: 0.2rem 0;
    color: white;
  }
}
