.appointment {
  align-items: center;
  max-width: 900px;
  border: 2px solid #d1d1d4;
  border-radius: 5px;
  background-color: #dcd8d81a;

  .header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    background: linear-gradient(#2563eb, #1d4ed8);
    border-radius: 5px 5px 0px 0px;

    .back-button {
      background-color: transparent;
      border: none;
      grid-column: 1;
      justify-self: start;
      margin-left: 1rem;
    }

    h3 {
      color: white;
      font-size: 1.25rem;
      grid-column: 2;
      justify-self: center;
      text-wrap: nowrap;
      font-weight: 500;
    }
  }

  .stepper {
    .step-list {
      background-color: #1d4ed8;
      padding: 0;
      padding-left: 1rem;
      padding-right: 1rem;
      justify-content: center;

      .step {
        flex: 1;
        height: 7px;
        border-radius: 20px;
        background-color: #1976d2;
        display: inline-block;
        line-height: 40px;
        text-align: center;
        transition: all 0.3s ease;

        &.custom-step {
          background-color: #60a5fa;
          color: white;
        }
      }
    }
  }

  .continue {
    padding: 1rem;
    border-top: 1px solid #dcd5d5;

    button{
      width: 100%;
      font-weight: 500;
      border-radius: 10px;
      background-color: #2563eb;
      padding: 1rem;
    }
  }
}

.steps-details {
  background-color: #1d4ed8;
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 0rem 1.5rem;
  padding-bottom: 1.5rem;

  p {
    margin: 0.2rem 0;
    color: white;
  }
}
