.client-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
      padding: 0 1rem;
  
      .heading {
    line-height: 1.1rem;

    h2 {
      color: rgba(31, 41, 55, 1);
      font-size: 1.5rem;
      font-weight: 700;
    }

    p {
      color: rgba(107, 114, 128, 1);
      font-size: 1.1rem;
    }
  }

  .form-group{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem 0;

    label {
      font-size: 0.9rem;
      font-weight: 600;
      color: rgba(31, 41, 55, 1);
    }

    input{
        width: 100%;
        height: 3rem;
        font-size: 1rem;
    }

    textarea{
        width: 100%;
        resize: none;
        font-size: 1rem;
    }
  }
}