<div class="time-selection">
  <div class="heading">
    <h2>Select Time</h2>
    <p>Pick your preferred time slot</p>
  </div>

<div class="time-container">

 <div class="time-content">
   <h3 class="time-name">Morning</h3>
  <div class="slots">
   @for (morningTime of morningTimes; track $index) {
    <div #timeSlot class="time-slot" (click)="selectTime(morningTime, timeSlot)">
      <span>{{ morningTime }}</span>
      <span>AM</span>
    </div>
   }
  </div>
 </div>

  <div class="time-content">
     <h3 class="time-name">Afternoon</h3>
  <div class="slots">
   @for (afternoonTime of afternoonTimes; track $index) {
    <div #timeSlot class="time-slot" (click)="selectTime(afternoonTime, timeSlot)">
       <span>{{ afternoonTime }}</span>
      <span>PM</span>
    </div>
   }
  </div>
  </div>

  <div class="time-content">
      <h3 class="time-name">Evening</h3>
  <div class="slots">
   @for (eveningTime of eveningTimes; track $index) {
    <div #timeSlot class="time-slot" (click)="selectTime(eveningTime, timeSlot)">
       <span>{{ eveningTime }}</span>
      <span>PM</span>
    </div>
   }
  </div>
  </div>
</div>
</div>
