<div class="time-selection">
  <div class="heading">
    <h2>Select Time</h2>
    <p>Pick your preferred time slot</p>
  </div>

<div class="time-container">

  <h3>Morning</h3>
  <div class="morning-slots">
   @for (timeSlot of timeSlots; track $index) {
    <div class="time-slot">
      <p>09:00 AM</p>
    </div>
   }
  </div>

  <h3>Afternoon</h3>
  <div class="morning-slots">
   @for (timeSlot of timeSlots; track $index) {
    <div class="time-slot">
      <p>09:00 AM</p>
    </div>
   }
  </div>

  <h3>Evning</h3>
  <div class="morning-slots">
   @for (timeSlot of timeSlots; track $index) {
    <div class="time-slot">
      <span>09:00 AM</span>
    </div>
   }
  </div>
</div>
</div>
