.time-selection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1.5rem;
    
    .heading {
    line-height: 1.1rem;

    h2 {
      color: rgba(31, 41, 55, 1);
      font-size: 1.5rem;
      font-weight: 700;
    }

    p {
      color: rgba(107, 114, 128, 1);
      font-size: 1.1rem;
    }
  }

  .time-container{
     .morning-slots{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 20px;
        row-gap: 20px;

        .time-slot{
                border: 2px solid rgb(204, 207, 211);
                border-radius: 10px;
                padding: 1rem;
                background-color: white;
                
                &:hover{
                  cursor: pointer;
                  border: 2px solid rgba(59, 130, 246, 1);
                }

                span{
                  display: flex;
                  justify-content: center;
                  color: rgba(31, 41, 55, 1);
                  font-size: 1rem;
                  font-weight: 500;
                }
        }
     }
  }
}