.time-selection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1.5rem;
    
    .heading {
    line-height: 1.1rem;

    h2 {
      color: rgba(31, 41, 55, 1);
      font-size: 1.5rem;
      font-weight: 700;
    }

    p {
      color: rgba(107, 114, 128, 1);
      font-size: 1.1rem;
    }
  }

  .time-container{
     .morning-slots{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 20px;

        .time-slot{
            p{
                border: 1px solid rgba(107, 114, 128, 1);
                border-radius: 10px;
                padding: 1rem;
                background-color: white;
            }
        }
     }
  }
}