.procedure {
    padding: 0 1.5rem;
    
  .heading {
    line-height: 1.1rem;

    h2 {
      color: rgba(31, 41, 55, 1);
      font-size: 1.5rem;
      font-weight: 700;
    }

    p {
      color: rgba(107, 114, 128, 1);
      font-size: 1.1rem;
    }
  }

  .procedure-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 15px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    padding-right: 15px;
    padding-left: 15px;
    border: 2px solid #e5e7eb;
    margin-bottom: 10px;

    .selection {
      display: flex;
      align-items: center;
      gap: 20px;

      .title {
        line-height: 10px;

        h3 {
          color: #1f2937;
          font-size: 1.125rem;
        }

        p {
          color: #6b7280;
          font-size: 0.85rem;
        }
      }
    }

    .price {
    line-height: 10px;

    h3 {
      color: #1f2937;
      font-size: 1.125rem;
    }

    p {
      color: #6b7280;
      font-size: 0.85rem;
    }
  }

    &:hover{
        border: 2px solid #1976d2;
        cursor: pointer;
    }
  }
}

// .active{
//   border: 2px solid #1976d2 !important;
// }