@import "primeicons/primeicons.css";

:root{
    --inter-font: "Inter", sans-serif;
}

.p-stepper-separator{
    display: none;
}

.step-list{
    border: none;
}

.p-steppanels{
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    font-family: var(--inter-font);
}

.p-step:last-of-type{
    flex: 1 !important;
}