@import "primeicons/primeicons.css";

:root{
    --inter-font: "Inter", sans-serif;
    --p-datepicker-date-border-radius: 25% !important;
}

.p-stepper-separator{
    display: none;
}

.step-list{
    border: none;
}

.p-steppanels{
    padding: 0;
}

body{
    justify-content: center;
    font-family: var(--inter-font);
}

.p-step:last-of-type{
    flex: 1 !important;
}

.active{
  border: 2px solid #1976d2 !important;
}

.p-datepicker .p-datepicker-panel{
    border-radius: 15px !important;
}

.p-datepicker-title{
    button{
        font-size: 1.125rem;
        font-weight: 600;
    }
}